@model BigDay.Models.WeddingGuest

<div class="panel panel-default">
    <div class="panel-heading"><h3>@ViewBag.Message</h3></div>
    <div class="panel-body">
        <p>@Model.Firstname @Model.Surname is coming with @Model.PartnerFirstname @Model.PartnerSurname</p> <br/>
        <p>@Model.DietComment</p>
        <hr />
    </div>
</div>
<a href="/Home/Guests" class="btn btn-default" role="button">Back</a>