<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Event", "Event", "Home")</li>
                    <li>@Html.ActionLink("Rsvp", "Rsvp", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Guests", "Guests", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript">
        $(document).ready(function () {
            window.setTimeout(function() {
                $(".alert").fadeTo(1000, 0).slideUp(1000, function(){
                    $(this).remove();
                });
            }, 2000);

            $('input[type="checkbox"]').click(function () {
                if ($(this).attr("value") == "IncludeGuest") {
                    $(".collapse").toggle();
                }
            });

            $('#IncludeGuestCheckbox').hide();

            $('#Status').change(function () {
                var value = $(this).val();
                if (value == 'Accepted') {
                    $('#IncludeGuestCheckbox').show();
                } else {
                    $('#IncludeGuestCheckbox').hide();
                }
            });

            $('#IncludeGuestCheckbox :checkbox').on("change", function () {
                if ($(this).prop("checked")) {
                    $.get("/Home/RetrieveRelatedGuest?firstname=" + $('#Firstname').val() + "&surname=" + $('#Surname').val()).done(function (guest) { $("#AttendingGuest").val(guest.Name); });
                }
            });
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
